<%- include("partials/header") %>

<h1>Sign Up</h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="username", 
    required, data-required-msg='Username is required'>
    <input type="email" name="email" placeholder="email address", 
    required, data-required-msg='Email is required'>
    <input type="password" name="password" placeholder="password", 
    required, data-required-msg='Password is required'>
    <button>Sign Up</button>
    

</form>
<a href="/login">Or Login</a>

<%- include("partials/footer") %>

